<%= form_with(model: short_url_g, local: true) do |form| %>
  <% if short_url_g.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(short_url_g.errors.count, "error") %> prohibited this short_url_g from being saved:</h2>

      <ul>
      <% short_url_g.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_area :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
