<p id="notice"><%= notice %></p>

<h1>Short Url Gs</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Short url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @short_url_gs.each do |short_url_g| %>
      <tr>
        <td><%= short_url_g.url %></td>
        <td><%= short_url_g.short_url %></td>
        <td><%= link_to 'Show', short_url_g %></td>
        <td><%= link_to 'Edit', edit_short_url_g_path(short_url_g) %></td>
        <td><%= link_to 'Destroy', short_url_g, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Short Url G', new_short_url_g_path %>
